<ion-view	view-title="dashboard" hide-back-button="true">

  <ion-nav-buttons side="right">
    <button class="button button-balanced" ng-click="logout()">logout</button>
  </ion-nav-buttons>

  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img ng-if="myProfile.profileImageURL" ng-src="{{myProfile.profileImageURL}}">
        <h2 ng-if="myProfile.name" ng-bind="myProfile.name"></h2>
        <p ng-bind="myProfile.joined | date"></p>

      </div>

      <div class="item item-body">
      <img class="full-image" ng-src="{{}}">
      <p>
        This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
        the content is from a card-body consisting of an image and paragraph text. The footer
        consists of tabs, icons aligned left, within the card-footer.
      </p>
      <p>
        <a href="#" class="subdued">1 Like</a>
        <a href="#" class="subdued">5 Comments</a>
      </p>
    </div>

    </div>

    <!--<button class="button button-balanced" ui-sref="inbox">inbox</button>-->



    <ion-list ng-if="notificationList.length">
      <ion-item class="item-divider">New Message</ion-item>


      <ion-item class=" item-avatar item-icon-right"
                ng-repeat="user in notificationList"
                type="item-text-wrap"
                href="#/inbox{{user.uid}}">



        <img ng-if="user.profileImageURL" ng-src="{{user.profileImageURL}}">
        <h2>{{user.name}}</h2>
        <p>{{user.lastText}}</p>
        <i class="right badge badge-assertive">{{user.count}}</i>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(user)">
        Delete
        </ion-option-button>
      </ion-item>


    </ion-list>



    <ion-list>
      <ion-item class="item-divider">online peoples</ion-item>


      <ion-item class="item-remove-animate item-avatar item-icon-right"
                ng-repeat="user in userlist"
                ng-hide=""
                type="item-text-wrap"
                href="#/inbox{{user.uid}}">


        <img ng-if="user.profileImageURL" ng-src="{{user.profileImageURL}}">
        <h2>{{user.name}}</h2>
        <p>{{user.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(user)">
        Delete
        </ion-option-button>
      </ion-item>


    </ion-list>


  </ion-content>
</ion-view>
