<ion-view view-title="{{recepientProfile.name}}">

  <ion-nav-buttons side="right">
    <button class="button button-light" ng-click="clearChat()">
      <div class="assertive">Clear Chat</div>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <!--<ion-item class="item-divider" >from a person</ion-item>-->

      <ion-item class="positive" ng-if="messageLoaded && messageList.length != 0" align="center"
      ng-click="moreMessages()">
        See More
      </ion-item>

      <ion-item align="center" ng-if="messageLoaded && messageList.length == 0">
        No Messages
      </ion-item>

      <ion-item align="center" ng-if="!messageLoaded">
        <ion-spinner icon="lines" class=" col-100" align="center"></ion-spinner>
        <ion-spinner icon="lines" class=" col-100" align="center"></ion-spinner>
        <ion-spinner icon="lines" class=" col-100" align="center"></ion-spinner>
      </ion-item>


      <span ng-repeat="message in messageList">
        <!--//////////////////////////////////////////////////////////////////////////////////////////////////////////-->

        <ion-item ng-if="message.from  == recipientUid"
                  class=" item-remove-animate item-avatar item-icon-right item-text-wrap">

          <img ng-src="{{recepientProfile.profileImageURL}}">

          <p class="lowOpacity">{{message.timeStamp | date:'yyyy-MM-dd HH:mm'}}</p>
          <!--<p>{{message.timeStamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</p>-->

          <span>{{message.text}}</span>

          <img ng-if="message.image" ng-src="{{message.image}}" width="80%" alt="">

          <!--<i class="icon ion-chevron-right icon-accessory"></i>-->

          <ion-option-button class="button-assertive" ng-click="messageList.$remove(message)">
            <i class="icon ion-android-delete"></i>
          </ion-option-button>
        </ion-item>

        <!--//////////////////////////////////////////////////////////////////////////////////////////////////////////-->

        <ion-item ng-if="message.from  == myUid"
                  align="right"
                  class=" item-remove-animate item-avatar item-icon-right item-text-wrap">

          <p class="lowOpacity">{{message.timeStamp | date:'yyyy-MM-dd HH:mm'}}</p>
          <!--<p>{{message.timeStamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</p>-->

          <span>{{message.text}}</span>

          <img ng-if="message.image" ng-src="{{message.image}}" width="80%" alt="">

          <!--<i class="icon ion-chevron-right icon-accessory"></i>-->

          <ion-option-button class="button-assertive" ng-click="messageList.$remove(message)">
            <i class="icon ion-android-delete"></i>
          </ion-option-button>
        </ion-item>
        <!--//////////////////////////////////////////////////////////////////////////////////////////////////////////-->

      </span>



      <ion-item class="item opacity-hide"></ion-item>


    </ion-list>

  </ion-content>


  <div class="card" style="position: absolute; bottom: 40px" ng-show="showCard">
    <div class="row">
      <div class="col col" ng-click="pickThisEcomotion($event)">&#x1F601</div>
      <div class="col col">&#x1F602</div>
      <div class="col col">&#x1F603</div>
      <div class="col col">&#x1F604</div>
      <div class="col col">&#x1F605</div>
      <div class="col col">&#x1F606</div>
      <div class="col col">&#x1F607</div>
      <div class="col col">&#x1F608</div>
    </div>
    <div class="row">
      <div class="col col">&#x1F609</div>
      <div class="col col">&#x1F60A</div>
      <div class="col col">&#x1F60B</div>
      <div class="col col">&#x1F60C</div>
      <div class="col col">&#x1F60D</div>
      <div class="col col">&#x1F60E</div>
      <div class="col col">&#x1F60F</div>
      <div class="col col">&#x1F610</div>
    </div>
    <div class="row">
      <div class="col col">&#x1F611</div>
      <div class="col col">&#x1F612</div>
      <div class="col col">&#x1F613</div>
      <div class="col col">&#x1F614</div>
      <div class="col col">&#x1F615</div>
      <div class="col col">&#x1F616</div>
      <div class="col col">&#x1F617</div>
      <div class="col col">&#x1F618</div>
    </div>
    <div class="row">
      <div class="col col">&#x1F619</div>
      <div class="col col">&#x1F61A</div>
      <div class="col col">&#x1F61B</div>
      <div class="col col">&#x1F61C</div>
      <div class="col col">&#x1F61D</div>
      <div class="col col">&#x1F61E</div>
      <div class="col col">&#x1F61F</div>
      <div class="col col">&#x1F620</div>
    </div>
    <div class="row">
      <div class="col col">&#x1F620</div>
      <div class="col col">&#x1F621</div>
      <div class="col col">&#x1F622</div>
      <div class="col col">&#x1F623</div>
      <div class="col col">&#x1F624</div>
      <div class="col col">&#x1F625</div>
      <div class="col col">&#x1F626</div>
      <div class="col col">&#x1F627</div>
    </div>
    <div class="row">
      <div class="col col">&#x1F628</div>
      <div class="col col">&#x1F629</div>
      <div class="col col">&#x1F62A</div>
      <div class="col col">&#x1F62B</div>
      <div class="col col">&#x1F62C</div>
      <div class="col col">&#x1F62D</div>
      <div class="col col">&#x1F62E</div>
      <div class="col col">&#x1F62F</div>
    </div>
    <div class="row">
      <div class="col col">&#x1F630</div>
      <div class="col col">&#x1F631</div>
      <div class="col col">&#x1F632</div>
      <div class="col col">&#x1F633</div>
      <div class="col col">&#x1F634</div>
      <div class="col col">&#x1F635</div>
      <div class="col col">&#x1F636</div>
      <div class="col col">&#x1F637</div>
    </div>
    <div class="row">
      <div class="col col">&#x1F638</div>
      <div class="col col">&#x1F639</div>
      <div class="col col">&#x1F63A</div>
      <div class="col col">&#x1F63B</div>
      <div class="col col">&#x1F63C</div>
      <div class="col col">&#x1F63D</div>
      <div class="col col">&#x1F63E</div>
      <div class="col col">&#x1F63F</div>
    </div>

  </div>


  <form class="bar bar-footer row" ng-submit="sendMessage( )">
    <div>
      <div class="button button-positive" ng-click="showCard = !showCard"><i class="icon ion-happy-outline"></i></div>
    </div>
    <div class="item-input-wrapper">
      <input required type="text" class="item-input col item-input-wrapper" ng-model="messageText">
    </div>
    <div>
      <div class="button button-positive" ng-click="uploadImage()"><i class="icon ion-camera"></i></div>
      <button class="button button-positive" type="submit">Send</button>
    </div>
  </form>

  <input ng-show="false" type="file" accept=" image/* " capture="camera" id="file-input">


</ion-view>
